body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: white;
    cursor: url('../images/auto-cursor.cur'), auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1b2a38;
    box-shadow: 0 2px 10px rgba(206, 199, 199, 0.1);
    position: sticky;
    top: 0;
    border-bottom: 1px solid #00b2a9;
    z-index: 100;/*coloca por encima de otros elemento*/
    position: relative;
    overflow: hidden;
    color: white;
}
.logo span{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
}
.logo strong{
    color: #00b2a9;
    font-size: 1.5rem;
}
#menu-toggle{
    display: none;
}
/*boton hamburgesa*/
.menu-icon{
    display: none;/*no nos mostrara por defecto*/
    font-size: 28px;
    color: #00b2a9;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;

}
/*vista movil*/
@media (max-width: 900px) {
    .menu-icon{
        display: block;
    }
    nav ul{
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        text-align: center;
        overflow: hidden;/*hara efecto cuando*/
        max-height: 0;
        transition: max-height 0.3s ease;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
    nav ul li{
        padding: 15px 0;
    }
    /*Muestra el menu cuando el checkbox esta marcado*/
    #menu-toggle:checked + .menu-icon + nav ul{
        max-height: 300px
    }
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
nav a.login{
    color: #00b2a9;
}
.hero {
    padding: 80px 10%;
    margin: 0;
    min-height: 100vh; /* Pantalla completa */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    gap: 50px;
    flex: 1;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 2.5rem;
    line-height: 1.3;
}

.hero-text span {
    color: #00b2a9;
}

.hero-text button {
    margin-top: 20px;
    background-color: #00b2a9;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.hero-text button:hover {
    background-color: #008f88;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-img img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* Sección de características */
.features {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 200px;
    margin: 10px 0;
}

.feature img {
    width: 50px;
    height: auto;
    
}

.feature p {
    font-size: 16px;
}

/* Adaptación móvil */
@media (max-width: 768px) {
    .hero{
        align-items: center;

    }
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-img img {
        max-width: 300px;
        margin-top: 20px;
    }
    .feature{
        width: 50px;
        height: auto;
        display: inline;
    }
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px 10%;
    gap: 40px;
}
.about-text{
    flex: 1;
    min-width: 300px;
}
.about-img img{
    width: 400px;
    max-width: 100%;
    border-radius: 8px;
}
.services{
    text-align: center;
    padding: 80px 10%;
}
.services h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.card{
    background-color: #1b2a38;
    color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    flex-wrap: wrap;
}
.card h3{
    padding: 15px;
    font-size: 1rem;
    height: 100px;
}

.descarga{
    display:flex;
    flex-wrap: wrap;  
    align-items: center; 
    gap: 60px;
    justify-content: space-between;
    padding: 80px 10%;
}
.descarga-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.descarga-img img{
    width: 300px;
    max-width: 100%;
    border-radius: 40px;
}

.descarga-text {
    flex: 1;
    min-width: 300px;
}
.icon-descarga img{
    width: 150px;
    cursor: pointer;
}
.icon-descarga {
    display: inline-block;         /* Hace que los íconos estén uno al lado del otro */
    margin: 10px;
}

.container-gallery{
    text-align: center;
    padding: 80px 10%;
}

.gallery-text h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: black;
}

.gallery-text p{
    color: #000000;
}

.carousel {
    display: flex;
    gap: 20px;
    overflow: hidden;
    animation: scrollHorizontal 20s linear infinite;
    align-items: center;
    text-align: center;
    padding: 80px 10%;
}

.carousel-item {
    width: 400px;           /* tamaño fijo de cada bloque */
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    position: relative;      
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* ocupa todo el bloque sin deformarse */
    display: block;
    z-index: -100;
}

@keyframes scrollHorizontal {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* ajusta según cantidad de items */
}


@media (max-width: 768px){
    .carousel{
        flex-direction: column;
        animation: scrollVertical 10s linear infinite;
        height: 300px;
    }
    .carousel-item{
        width: 100px;
        height: 100px;
    }
    @keyframes scrollVertical {
        from { transform: translateY(0); }
        to { transform: translateY(-100%); }
    }
}
footer {
    background-color: #1b2a38;
    color: white;
    padding: 20px;
    font-size: 10px;
}

footer .content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

footer .content img {
    width: 40px;        
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

footer .siguenos img:hover {
    opacity: 0.8;
}

footer .realizado {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}
.contact-form{
    background-color: #b8c3cc;
    border-radius: 10px;
    width: 50%;
    text-align: left;
}
.contact-map{
    display: flex;
    margin: 10px;
}
.map iframe{
    height: 100%;
    width: 100%;
}
@media(max-width: 768px) {
    .contact-map{
        height: 100%;
        width: 100%;
        display: inline;
        text-align: center;
    }
    .contact-form{
        align-items: center;
    }
    .contact-form{
        background-color: #b8c3cc;
        border-radius: 10px;
        width: 100%;
        text-align: left;
    }
}
.conteiner-login{
    display: flex;
    background-color: #1b2a38;
    border-radius: 10px;
    min-height: 50%;
    max-width: 75%;
    margin: 0 auto;
    margin-inline-start: 50px;
    text-align: center;
    justify-content: space-between;
    font-size: large;
    max-height: 50%;
}
.login-form{
    display: inline;    
    flex: 1; /* ocupa parte del espacio disponible */
    color: white;
    padding: 30px;
}
.img-login{
    flex: 1;
}
.img-login img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* llena el bloque sin deformarse */
    border-radius: 0 10px 10px 0;
}
button{
    margin: 15px;
    background-color: #00b2a9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 75%;
}
button:hover{
    background-color: #008f88;
}
.login-recuperacion{
    font-size: small;
    display: flex;
    justify-content: space-between; /* los separa a los extremos */
    align-items: center;
}
@media (max-width: 900px) {
    .conteiner-login {
        display: block;
    }
    .img-login img {
        border-radius: 0 0 10px 10px; /* redondear abajo en vista móvil */
    }
}